[submodule "src/fast_lio"]
	path = src/fast_lio
	url = https://github.com/HanshangZhu/FAST_LIO_ROS2.git
[submodule "src/mtare_ros1_ws/src/mtare_planner"]
	path = src/mtare_ros1_ws/src/mtare_planner
	url = https://github.com/HanshangZhu/tare_planner.git
